body {
  margin: 0;
  background-color: #2e3537;
  padding: 1em;
}

img {
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container .image {
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s;
}